body {
  background-image: url("https://backiee.com/static/wpdb/wallpapers/3840x2160/211702.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}




